@tailwind base;
@tailwind components;
@tailwind utilities;

/* SourceSansPro-Black */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* SourceSansPro-BlackItalic */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* SourceSansPro-Bold */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* SourceSansPro-BoldItalic */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* SourceSansPro-ExtraLight */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* SourceSansPro-ExtraLightItalic */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* SourceSansPro-Italic */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* SourceSansPro-Light */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* SourceSansPro-LightItalic */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* SourceSansPro-Regular */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* SourceSansPro-SemiBold */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* SourceSansPro-SemiBoldItalic */
@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* SourceSansVariable-Roman */
@font-face {
  font-family: 'SourceSansVariable';
  src: url('/fonts/SourceSansVariable-Roman.otf') format('opentype');
  font-weight: 200 900; /* Variable font supporting a range of weights */
  font-style: normal;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}