---
import heroImage from '@public/assets/hero.svg';
import heroCloud from '@public/assets/hero-cloud.png';
---
<section class="container grid justify-center items-center mx-auto">
	<video src=""></video>
	<div data-aos="zoom-in" data-aos-delay="100" class="relative">
		<img src={heroImage.src} class="h-60 lg:h-96" alt="Surtigas Logo"/>
		<img src={heroCloud.src} alt="Surtigas Cloud" class="h-40 absolute -top-10 -right-5 transition-all md:-top-20 md:-right-20" />
	</div>
</section>