---
import Banner from "@/components/ui/Banner.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Surtigas</title>
	</head>
	<body class="bg-background grid gap-40">
		<Banner class="sticky top-0 z-10"/>
		<slot />
		<Banner/>
	</body>
</html>